{
	"trailingComma": "es5",
	"tabWidth": 3,
	"semi": false,
	"singleQuote": false,
	"useTabs": true,
	"goTemplateBracketSpacing": true,
	"overrides": [
		{
			"files": ["*.html"],
			"options": {
				"parser": "go-template"
			}
		}
	]
}
