html {
	background-color: #f3f4f6;
}

body {
	max-width: 1280px;
	margin: auto;
	min-height: 100vh;
}

.main {
	max-width: 1024px;
}

@media (min-width: 1024px) {
	.main {
		margin-left: 5%;
		margin-right: 5%;
	}
}

.hover\:border-bottom:hover {
	border-bottom: 2px solid currentColor;
}

nav a:hover {
	border-bottom: 2px solid currentColor;
}

.active {
	border-bottom: 2px solid currentColor;
}
header nav li:nth-child(2) {
	margin: 0 2.5rem;
}

.holder {
	position: relative;
}

.center {
	position: absolute;
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.mx-1\/10 {
	margin-left: 10%;
	margin-right: 10%;
}

/* .hover-card {
	display: none;
}

.hover-parent:hover .hover-card {
	display: block;
}
.hover-parent:hover .hover {
	display: none;
}

.hover-card:hover {
	display: block;
} */

.showme {
	display: none;
	opacity: 0;
	bottom: 50%;
}

.showhim:hover .showme {
	display: block;
	opacity: 1;
	animation: fadeIn 0.4s ease-in-out;
}
.showhim:hover .hideme {
	display: none;
}

@keyframes fadeIn {
	0% {
		display: none;
		bottom: 50%;
		opacity: 0;
	}
	100% {
		display: block;
		bottom: 0%;
		opacity: 1;
	}
}
