{{ define "main" }}

<p class="text-2xl">Hi, </p>
<h1 class="text-3xl font-bold leading-loose poppins">I'm Mukund Shah.
</h1>
<br />
<p class="max-w-md"><span class="text-gray-700">I'm a Frontend Web Developer, <br/> and on track of being Full Stack Web Developer. <br/>I'm also exploring the perks of Mobile App Development.<br />
        </span>
</p>
<br/>
<p class="text-gray-700">Available for new opportunities. <a href="mailto:hi@mukundshah.com" class="text-black underline">Hire me.</a></p> 

<br />
<br />
<p class="text-gray-700">
    You can reach me through:
    <a class="text-black underline" href="https://www.linkedin.com/in/mukundshah2058/">LinkedIn</a> or 
    <a class="text-black underline" href="https://github.com/mukundshah">GitHub</a>.
    
</p>
<br />
<p class="text-gray-700">
    Another alternative and the fast one is through my <a href="mailto:hi@mukundshah.com" class="text-black underline">Email !!</a>
</p>


{{ end }}