@import 'tailwindcss';

@layer base {
  body {
    @apply bg-neutral-950 font-sans;
  }
}

#site {
  @apply mx-auto flex min-h-screen max-w-[872px] flex-col gap-9 px-10 py-8 text-sm text-neutral-400 md:gap-20 md:py-12;
}
